.contacto-container{
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}
section{
    display: flex;
    justify-content: center;
}
.form{
    display: flex;
    align-items:center;
}
.caja{
    padding-bottom: 5%;
}