@media screen and (max-width: 768px) {
    header{ font-size: 20px;}
    nav{ font-size: 10px;}
    footer{ font-size: 6px;
    grid-template-columns: 1fr;
    }
    .logo{ margin-bottom: 2px;}
    body{ font-size: 8px;}
    .novedades{ 
        margin: 5px;
        border: 2px solid $color-principal;
        height: 75px;
        width: 375px;
    }
    .oferta1{ 
        margin: 2px;
        height: 100px;
        width: 100px;
    }
    .container{ grid-template-columns: repeat(2,1fr);}
    .camisetas{
        margin: 2px;
        height: 100px;
        width: 100px;
    }
    .contacto-container{margin: 10px;}
}