.container-camisetas {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: auto;
    .camisetas {
        text-align: center;
        margin: 5px;
        height: 200px;
        width: 200px;
    }
    .container-camisetas img {
        width: 80%;
        height: 80%;
    }
}



