.container-camisetas {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    margin: 5%;

    :hover {
    border: solid 2px rgb(148, 148, 148);
    border-radius: 5%;

    }

    .camisetas {
        text-align: center;
        margin: 8%;
        margin-bottom: 10%;
        height: 200px;
        width: 200px;

        
    }

    img {
        width: 80%;
        height: 80%;
    }

}