.container-camisetas {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    margin: 5%;



    .camisetas {
        text-align: center;
        margin: 8%;
        margin-bottom: 10%;
        height: 200px;
        width: 200px;
        
    }

    img {
        width: 80%;
        height: 80%;
    }
    h3{
        font-size: 18px;
        font-weight: bold;
    }
    h4{
        font-size: 18px;
    }
}

.camisetas:hover {

    border: solid 2px rgb(148, 148, 148);
    border-radius: 5%;
    transition-timing-function: linear;
    transition-duration: .5s;
}