@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,400;1,900&display=swap');
@import "partials/complementos";
@import "partials/header";
@import "partials/contactos";
@import "partials/footer-body";
@import "partials/index";
@import "partials/productos";
@import "partials/mediaQuerys";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
