@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,400;1,900&display=swap");
.header-design {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  color: white;
  font-style: italic;
  background-color: black;
}

nav {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-style: normal;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  background-color: black;
}

nav .barra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav .buscar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav ul {
  list-style: none;
}

nav a:visited {
  color: white;
  text-decoration: none;
}

nav a:link {
  text-decoration: none;
  color: white;
}

nav a:hover {
  background-color: #a2a4a6;
}

.contacto-container {
  margin: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.caja {
  padding-bottom: 5%;
}

footer {
  display: -ms-grid;
  display: grid;
  grid-area: span;
  -ms-grid-columns: (1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  background-color: black;
  font-size: 12px;
  font-style: normal;
  color: white;
}

li {
  display: inline;
  padding: 10px;
}

.logo {
  width: 10%;
  height: 10%;
  margin-bottom: 5px;
}

.mapa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3%;
  margin: 1%;
  height: 80%;
  width: 80%;
}

.redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 5%;
  height: 5%;
  margin: 1%;
}

/* body */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  color: black;
}

.ofertas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ofertas img {
  width: 80%;
  height: 80%;
}

.ofertas .oferta1 {
  text-align: center;
  margin: 5px;
  height: 200px;
  width: 200px;
}

.novedades {
  margin: 10px;
  border: 5px solid black;
  height: 150px;
  width: 750px;
  background-color: blue;
}

/* actuales, retro y productos */
.container-camisetas {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr);
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

.container-camisetas .camisetas {
  text-align: center;
  margin: 5px;
  height: 200px;
  width: 200px;
}

.container-camisetas img {
  width: 80%;
  height: 80%;
}

@media screen and (max-width: 768px) {
  header {
    font-size: 20px;
  }
  nav {
    font-size: 10px;
  }
  footer {
    font-size: 6px;
  }
  .logo {
    margin-bottom: 2px;
  }
  body {
    font-size: 8px;
  }
  .novedades {
    margin: 5px;
    border: 2px solid black;
    height: 75px;
    width: 375px;
  }
  .oferta1 {
    margin: 2px;
    height: 100px;
    width: 100px;
  }
  .container {
    -ms-grid-columns: (1fr);
        grid-template-columns: repeat(2, 1fr);
  }
  .camisetas {
    margin: 2px;
    height: 100px;
    width: 100px;
  }
  .contacto-container {
    margin: 10px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=style.css.map */