@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,400;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: white;
    font-style: italic;
    background-image: url("images/portada1.jpg");
}

nav {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
}

.barra {
    display: flex;
    justify-content: flex-end;
}
.buscar{
    display: flex;
    justify-content: flex-end;
}

ul {
    list-style: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:link {
    text-decoration: none;
    color: white;
}

footer {
    background-color: black;
    font-size: 12px;
    font-style: normal;
    color: white;
}

body {

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    color: black
}

li {
    display: inline;
    padding: 10px;
}

.logo {
    width: 10%;
    height: 10%;
    margin-bottom: 5px;
}

.container {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: auto;
}

.container img {
    width: 80%;
    height: 80%;
}

.camisetas {
    text-align: center;
    margin: 5px;
    height: 200px;
    ;
    width: 200px;
}

.imagen {
    height: 100%;
    width: 100%;
    object-fit: cover;
    grid-row: 3 span;
    grid-column: 1 span;
}
.imagen1 {
    object-fit: cover;
    height: 100%;
    width: 100%;
    grid-row: 3 span;
    grid-column: 1 spans;
}
.contacto-container{
    display: grid;
    grid-template-columns: 3fr;
    grid-template-rows: 20vh 30vh 15vh;
    grid-template-areas: 
    "header header header"
    "main section main"
    "footer footer footer";
}
.header{
    grid-area: header;
}
.nav{
    grid-area: nav;
}
.main{
    grid-area: main;
}
.footer{
    grid-area: footer;
}
.section{
    grid-area: section;
}

.formulario{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}

.form {
    grid-area: 2 / 2 / 3 / 3;
}

.ofertas img {
    width: 80%;
    height: 80%;
}

.ofertas {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.novedades {
    margin: 10px;
    border: 5px solid black;
    height: 150px;
    width: 750px;
    background-color: blue;
}

.oferta1 {
    text-align: center;
    margin: 5px;
    height: 200px;
    width: 200px;
}

.contacto {
    display: flex;

}
